<section id="titulo" class="d-flex flex-row justify-content-center p-5" style="background-color:var(--ananda-red)">
    <div class="d-flex flex-column justify-content-start text-center text-light col-10">
        <h1 class="upp">Presupuesto de selección y evaluación de candidatos</h1>
        <p class="lead">Nuestros expertos consultores en evaluación de candidatos te presentarán a la persona ideal; aquella que reúne el conocimiento, la experiencia y los valores que estás buscando.</p>
    </div>
</section>