      <section id="Footer" class="d-flex text-light p-3 justify-content-center" style="background-color:hwb(196 0.8% 77.2%)">
        <div class="d-flex flex-wrap justify-content-between col-10">
            <div class="text-light col-12 col-md-5 col-lg-3 col-xl-2 m-2">
                <h5>EMPLEO</h5>
                <ul class="list-unstyled">
                    <li>
                        <a rel="noopener noreferrer" href="#!" target="_blank"  style="text-decoration: none; color:white">Descárgate nuestra
                            app</a>
                    </li>
                    <li>
                        <a rel="noopener noreferrer" href="#!" target="_blank"  style="text-decoration: none; color:white">Regístrate
                            en Adecco</a>
                    </li>
                    <li>
                        <a href="#!"  style="text-decoration: none; color:white">Encuentra trabajo</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Ofertas de empleo</a>
                    </li>
                    <li>
                        <a rel="noopener noreferrer" href="#!" target="_blank" style="text-decoration: none; color:white">Blog
                            de empleo</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Trabaja en Adecco</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Formadores Adecco</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Preguntas Frecuentes</a>
                    </li>
                </ul>
            </div>
            <div  class="text-light col-12 col-md-5 col-lg-3 col-xl-2 m-2">
                <h5>CIUDADES</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Empleo en Madrid</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Empleo en Barcelona</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Empleo en Valencia</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Empleo en Sevilla</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Empleo en Bilbao</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Empleo en San Sebastián</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Empleo en Zaragoza</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Empleo en Las Palmas de Gran
                            Canaria</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Empleo en A Coruña</a>
                    </li>
                </ul>
            </div>
            <div class="text-light col-12 col-md-5 col-lg-3 col-xl-2 m-2">
                <h5>EMPRESAS</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Trabajo temporal</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Outsourcing</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Reclutamiento y selección</a>
                    </li>
                    <a href="#!" style="text-decoration: none; color:white">Formación</a>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Consultoría</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Reforma Laboral</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Guía Salarial</a>
                    </li>
                </ul>
            </div>
            <div class="text-light col-12 col-md-5 col-lg-3 col-xl-2 m-2">
                <h5>CONTACTO</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Contacto Candidatos</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Contacto Empresas</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none; color:white">Localízanos</a>
                    </li>
                </ul>
            </div>
            <div class="text-light col-12 col-md-5 col-lg-3 col-xl-2 m-2">
                <h5>REDES</h5>
                <a href="https://www.facebook.com/" class="linkrrss mx-2" name="Facebook" target="_blank" style="text-decoration: none; color:white">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com/" class="linkrrss mx-2" name="Instagram" target="_blank" style="text-decoration: none; color:white">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://twitter.com/" class="linkrrss mx-2" name="Twitter" target="_blank" style="text-decoration: none; color:white">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/" class="linkrrss mx-2" name="Linkedin" target="_blank" style="text-decoration: none; color:white">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.tiktok.com/" class="linkrrss mx-2" name="Tik Tok" target="_blank" style="text-decoration: none; color:white">
                    <i class="bi bi-tiktok"></i>
                </a>
            </div>
        </div>
    </section>
