<section id="empresas" class="py-3 py-sm-5 d-flex justify-content-center mt-5">
    <div class="container-fluid row col-12 col-lg-10 d-flex justify-content-between">
        <div class="col-12 col-lg-4 d-none d-lg-block h100" style="background-image: url('https://ik.imagekit.io/ehiyh7jvx/img/Recurso%202-80.jpg?updatedAt=1690823582035');background-position: top left; background-repeat: no-repeat;background-size: cover;">
            
        </div>
        <div class="col-12 col-lg-8">
            <h5 style="color:hwb(341 13% 42%)">EMPRESAS</h5>
            <h2>Soluciones de RRHH a medida para tu empresa, hoy mismo.</h2>
            <table class="table">
                <tr>
                    <td>
                        <div class="d-flex justify-content-center py-3">
                            <div class="d-none d-md-inline-flex px-5 justify-content-start">
                                <i class="bi bi-people" style="font-size: 3rem; color:hwb(341 13% 42%);"></i>
                            </div>
                            <div class="d-inline-flex flex-column justify-content-center">
                                <h4 style="color:hwb(341 13% 42%)">Trabajo Temporal</h4>
                                <h5 style="color:hwb(341 35% 32%)">Necesito un trabajador temporal para mañana.</h5>
                                <p style="text-align:justify">
                                    Cuéntanos tus necesidades y nosotros nos encargamos del resto. ¿Necesitas cubrir una baja? ¿Tienes un pico de producción?... Buscamos al candidato que mejor se ajusta al perfil solicitado, lo contratamos, gestionamos el alta y los trámites burocráticos y te cedemos al trabajador en el menor tiempo posible y durante el tiempo que lo necesites para que tú puedas centrarte en hacer crecer tu negocio. Olvídate de absentismos, gestión de bajas o despidos.              
                                </p>
                                <a href="#!" class="" style="text-decoration: none;"><h6 style="color:hwb(341 13% 42%)">Ver más <i class="bi bi-arrow-right"></i></h6></a>
                              </div>
                            
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex justify-content-center py-3">
                            <div class="d-none d-md-inline-flex px-5 justify-content-start">
                                <i class="bi bi-pc-display" style="font-size: 3rem; color:hwb(341 13% 42%);"></i>
                            </div>
                            <div class="d-inline-flex flex-column justify-content-center">
                                <h4 style="color:hwb(341 13% 42%)">Outsourcing </h4>
                                <h5 style="color:hwb(341 35% 32%)">Necesito externalizar los recursos humanos de mi empresa.</h5>
                                <p style="text-align:justify">
                                    Nos encargamos de diseñar la plantilla que necesitas, analizando los perfiles psicológicos que mejor se adaptan y más valor añadido aportan al equipo. Buscamos a los mejores profesionales para el proyecto concreto, los contratamos, formamos y gestionamos todos los trámites burocráticos relacionados con la gestión de RRHH, para que tú puedas dedicarte al core de tu negocio y simplemente pagar una factura. Te ayudamos a que puedas aprovechar todas las oportunidades cuando surgen, proporcionándote flexibilidad y recursos humanos cuando los necesitas.
                                  </p>
                                  <a href="#!" class="" style="text-decoration: none;"><h6 style="color:hwb(341 13% 42%)">Ver más <i class="bi bi-arrow-right"></i></h6></a>
                                </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex justify-content-center py-3">
                            <div class="d-none d-md-inline-flex px-5 justify-content-start">
                                <i class="bi bi-check2-square" style="font-size: 3rem; color:hwb(341 13% 42%);"></i>
                            </div>
                            <div class="d-inline-flex flex-column justify-content-center">
                                <h4 style="color:hwb(341 13% 42%)">Selección y evaluación talento</h4>
                                <h5 style="color:hwb(341 35% 32%)">Necesito contratar al profesional ideal.</h5>
                                <p style="text-align:justify">                                            
                                    Si necesitas contratar a un trabajador pero no tienes el tiempo o los recursos necesarios para llevar a cabo un proceso de búsqueda y selección de talento. Nosotros te ayudamos. Cuéntanos tus necesidades y nuestros consultores especializados en RRHH y psicólogos se encargarán de buscar y valorar a los candidatos hasta encontrar el mejor profesional para tu compañía y equipo. Gracias a nuestro método de evaluación de candidatos, te presentaremos a la persona ideal; aquella que reúne el conocimiento, la experiencia y los valores que estás buscando.
                                  </p>
                                  <a href="#!" class="" style="text-decoration: none;"><h6 style="color:hwb(341 13% 42%)">Ver más <i class="bi bi-arrow-right"></i></h6></a>
                                </div>
                        </div>
                    </td>
                </tr>
                <!--Quito formación y consultoría
                <tr>
                    <td>
                        <div class="d-flex justify-content-center py-3">
                            <div class="d-none d-md-inline-flex px-5 justify-content-start">
                                <i class="bi bi-book" style="font-size: 3rem; color:hwb(341 13% 42%);"></i>
                            </div>
                            <div class="d-inline-flex flex-column justify-content-center">
                                <h5 style="color:hwb(341 13% 42%)">Formación</h5>
                                <p style="text-align:justify">                                             
                                    Ayudamos a que las plantillas desarrollen su talento y mejoren sus habilidades
                                    profesionales a través de la formación - upskilling y reskilling. Nuestras
                                    soluciones
                                    integrales de formación se adaptan a las necesidades de cada empresa, sea cual
                                    sea su
                                    tamaño o sector.
                                  </p>
                                  <a href="#!" class="" style="text-decoration: none;"><h6 style="color:hwb(341 13% 42%)">Ver más <i class="bi bi-arrow-right"></i></h6></a>
                                </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex justify-content-center py-3">
                            <div class="d-none d-md-inline-flex px-5 justify-content-start">
                                <i class="bi bi-chat-square-quote" style="font-size: 3rem; color:hwb(341 13% 42%);"></i>
                            </div>
                            <div class="d-inline-flex flex-column justify-content-center">
                                <h5 style="color:hwb(341 13% 42%)">Consultoría</h5>
                                <p style="text-align:justify">                                                                                         
                                    Acompañamos a las empresas en sus procesos de transformación y
                                    gestión del cambio a
                                    través de nuestra consultoría de Recursos Humanos. Aportamos soluciones
                                    innovadoras para
                                    que las organizaciones alcancen sus objetivos, incrementen su productividad y mejoren el
                                    bienestar de sus plantillas.
                                  </p>
                                  <a href="#!" class="" style="text-decoration: none;"><h6 style="color:hwb(341 13% 42%)">Ver más <i class="bi bi-arrow-right"></i></h6></a>
                                </div>
                        </div>
                    </td>
                </tr>
                -->
            </table>
            
        </div>
        
    </div>

</section>
