<section id="info-1" class="py-3 py-sm-5 d-flex justify-content-center">
    <div class="container-fluid row col-12 col-lg-10 d-flex justify-content-between">
        

        <div class="col-lg-6 col-12 text-lg-start text-center my-3">
            <h5 style="color:hwb(341 13% 42%)">OFICINAS</h5>
            <h5>Atención personalizada cerca de tí</h5>
            <p>Gracias a nuestra red de más de 50 oficinas en todo el territorio nacional, podemos brindarte una atención personal y completamente especializada. Contacta con los consultores/as de tu ciudad, ellos conocen perfectamente el mercado laboral de tu localidad y te ayudarán a encontrar el empleo que más se adapta a ti o las soluciones de RRHH que tu negocio necesita en estos momentos.</p>
            <div class="container-fluid mt-5">
                <img src="https://ik.imagekit.io/ehiyh7jvx/img/mapa_nuevos_colores.png?updatedAt=1691061018813" alt="" class="img-fluid my-5">
                <a href="#!" class="" style="text-decoration: none;"><h6 style="color:hwb(341 13% 42%)">Ver todas las oficinas <i class="bi bi-arrow-right"></i></h6></a>
            </div>
        </div>
      <div class="col-lg-6 col-12 text-lg-start text-center my-3">
            <h5 style="color:hwb(341 13% 42%)">SECTORES</h5>
            <h5>Especializados por áreas y sectores</h5>
            <p>Disponemos de consultores/as especializados en diferentes sectores estratégicos, así como en diferentes áreas laborales, que conocen perfectamente los diferentes convenios y casuísticas sectoriales. Nuestra especialización nos permite entender mejor tus necesidades, realizar una selección más precisa y adaptar nuestras soluciones a tu sector, incluso en los casos más complejos.</p>
            <div class="container-fluid row">
                <div class="col-12 col-lg-6">
                    <table class="table table-hover">
                        <tr><td><i class="bi bi-car-front" style="font-size: 3rem; color: lightgrey; vertical-align: middle;" ></i><span class="ms-3" style="font-weight: 300;">Automotive</span></td></tr>
                        <tr><td><i class="bi bi-camera-reels" style="font-size: 3rem; color: lightgrey; vertical-align: middle;" ></i><span class="ms-3" style="font-weight: 300;">Audiovisual</span></td></tr>
                        <tr><td><i class="bi bi-globe" style="font-size: 3rem; color: lightgrey; vertical-align: middle;" ></i><span class="ms-3" style="font-weight: 300;">TIC/Tecnología</span></td></tr>
                        <tr><td><i class="bi bi-bank" style="font-size: 3rem; color: lightgrey; vertical-align: middle;" ></i><span class="ms-3" style="font-weight: 300;">Banca & Seguros</span></td></tr>
                        <tr><td><i class="bi bi-headset" style="font-size: 3rem; color: lightgrey; vertical-align: middle;" ></i><span class="ms-3" style="font-weight: 300;">Contact Center</span></td></tr>
                    </table>

                </div>
                <div class="col-12 col-lg-6">
                    <table class="table table-hover">
                        <tr><td><i class="bi bi-bandaid" style="font-size: 3rem; color: lightgrey; vertical-align: middle;" ></i><span class="ms-3" style="font-weight: 300;">Sanidad</span></td></tr>
                        <tr><td><i class="bi bi-basket" style="font-size: 3rem; color: lightgrey; vertical-align: middle;" ></i><span class="ms-3" style="font-weight: 300;">Comercio</span></td></tr>
                        <tr><td><i class="bi bi-briefcase" style="font-size: 3rem; color: lightgrey; vertical-align: middle;" ></i><span class="ms-3" style="font-weight: 300;">Ejecutivo</span></td></tr>
                        <tr><td><i class="bi bi-bus-front" style="font-size: 3rem; color: lightgrey; vertical-align: middle;" ></i><span class="ms-3" style="font-weight: 300;">Transporte</span></td></tr>
                        <tr><td><i class="bi bi-cup-hot" style="font-size: 3rem; color: lightgrey; vertical-align: middle;" ></i><span class="ms-3" style="font-weight: 300;">Hostelería</span></td></tr>
                    </table>
                </div>
                <a href="#!" class="" style="text-decoration: none;"><h6 style="color:hwb(341 13% 42%)">Ver todos los sectores <i class="bi bi-arrow-right"></i></h6></a>
            </div>
        </div>
    </div>
</section>