<!--lg+------------------------------------------------------------------------------------------>
<section id="testimonios" class="mt-5 py-3 py-sm-5 d-none d-lg-flex justify-content-center ">
    <div class="row col-12 col-lg-12">
        <h3 class="col-12 mb-5">Nos importan las personas. Nos importas tú: tu situación personal y tus objetivos.</h3>
        <div class="col-12 col-lg-3 h-100">
            <div class="overflow-hidden h-100 d-flex flex-column justify-content-between" style="background-image: url('https://ik.imagekit.io/ehiyh7jvx/img/testimonial1-ok.jpg?updatedAt=1690825152142');background-size: cover; background-position:center; border-radius: 10px;">
                <div class="container-fluid d-flex flex-column justify-content-between p-3 h-100">
                    <p class="text-light pt-3 d-none d-lg-block">Me ayudaron a encontrar mi primer empleo cuando llegué a España, a pesar de no tener experiencia previa. A mí me han abierto las puertas del mercado laboral.</p>
                    <div class="border border-danger border-3 opacity-0 w-25  d-none d-lg-block" ></div>
                    <p class="text-light  d-none d-lg-block" style="font-weight: 500;">Kyril Shamalov Budánov</p>
                    <h5 class="text-light">Empleo que no requiere experiencia</h5>
                </div>
                <div class="w-100 p-3" style="background-color:hwb(341 13% 42%);">
                    <a href="#!" class="text-center" style="text-decoration: none; "><p style="color:white; font-size: 1rem; font-weight: 500;">Ver estas ofertas <i class="bi bi-arrow-right"></i></p></a>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-lg-3 h-100">
            <div class="rounded-3 overflow-hidden h-100 d-flex flex-column justify-content-between" style="background-image: url('https://ik.imagekit.io/ehiyh7jvx/img/testimonial2-ok.jpg?updatedAt=1690825151796');background-size: cover; background-position:center;  border-radius: 10px;">
                <div class="container-fluid d-flex flex-column justify-content-between p-3 h-100">
                    <p class="text-light pt-3 d-none d-lg-block">Me han orientado y ayudado a conseguir un trabajo que es totalmente compatible con mi vida personal y mis estudios. Siento que Ananda se preocupa por los trabajadores.</p>
                    <div class="border border-danger border-3 opacity-0 w-25  d-none d-lg-block" ></div>
                    <p class="text-light  d-none d-lg-block" style="font-weight: 500;">Ana Pérez Ros</p>
                    <h5 class="text-light">Empleo flexible o tiempo parcial</h5>
                </div>
                <div class="w-100 p-3" style="background-color:hwb(341 13% 42%);">
                    <a href="#!" class="text-center" style="text-decoration: none; "><p style="color:white; font-size: 1rem; font-weight: 500;">Ver estas ofertas <i class="bi bi-arrow-right"></i></p></a>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3 h-100">
            <div class="rounded-3 overflow-hidden h-100 d-flex flex-column justify-content-between" style="background-image: url('https://ik.imagekit.io/ehiyh7jvx/img/testimonial3-ok.jpg?updatedAt=1690825152165');background-size: cover; background-position:center;  border-radius: 10px;">
                <div class="container-fluid d-flex flex-column justify-content-between p-3 h-100">
                    <p class="text-light pt-3 d-none d-lg-block">Me ayudaron a buscar un trabajo estable e indefinido, adecuado a mi perfil y mi nivel de estudios, donde he podido dar lo mejor de mí. Muy agradecido.</p>
                    <div class="border border-danger border-3 opacity-0 w-25  d-none d-lg-block" ></div>
                    <p class="text-light  d-none d-lg-block" style="font-weight: 500;">Álvaro Montoya Soler</p>
                    <h5 class="text-light">Empleo con contrato indefinido</h5>
                </div>
                <div class="w-100 p-3" style="background-color:hwb(341 13% 42%);">
                    <a href="#!" class="text-center" style="text-decoration: none; "><p style="color:white; font-size: 1rem; font-weight: 500;">Ver estas ofertas <i class="bi bi-arrow-right"></i></p></a>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3 h-100">
            <div class="rounded-3 overflow-hidden h-100 d-flex flex-column justify-content-between" style="background-image: url('https://ik.imagekit.io/ehiyh7jvx/img/testimonial4-ok.jpg?updatedAt=1690825151941');background-size: cover; background-position:center;  border-radius: 10px;">
                <div class="container-fluid d-flex flex-column justify-content-between p-3 h-100">
                    <p class="text-light pt-3 d-none d-lg-block">Pensé que, a mi edad, núnca podría recuperar mi carrera profesional. Por suerte, Ananda me ofreció una oportunidad de trabajar sin tener en cuenta mi edad, género o circunstancias.</p>
                    <div class="border border-danger border-3 opacity-0 w-25  d-none d-lg-block" ></div>
                    <p class="text-light  d-none d-lg-block" style="font-weight: 500;">Matilde LLoret Zúñiga</p>
                    <h5 class="text-light">Reincorporación al mercado laboral</h5>
                </div>
                <div class="w-100 p-3" style="background-color:hwb(341 13% 42%);">
                    <a href="#!" class="text-center" style="text-decoration: none; "><p style="color:white; font-size: 1rem; font-weight: 500;">Ver estas ofertas <i class="bi bi-arrow-right"></i></p></a>
                </div>
            </div>
        </div>

    </div>
</section>

<!--xxs-to-md------------------------------------------------------------------------------------------>
<section id="testimonios" class="mt-5 py-3 py-sm-5 d-flex justify-content-center d-lg-none">
    <div class="row col-12 col-lg-10">
        <h3 class="mb-5 text-center text-md-start">Nos importa tu situación personal y objetivos</h3>
        <div class="col-12 col-lg-3 m-2">
            <div class="rounded-lg overflow-hidden" style="background-image: url('https://ik.imagekit.io/ehiyh7jvx/img/testimonial1-mbl.jpg?updatedAt=1690825521641');background-size: cover; background-position:center; ">
                <div class="container-fluid d-flex flex-column justify-content-center p-5">
                    
                    <h5 class="text-light">Empleo que no requiere experiencia</h5>
                </div>
                <div class="w-100 p-3" style="background-color:hwb(341 13% 42%);">
                    <a href="#!" class="text-center" style="text-decoration: none; "><p style="color:white; font-size: 1rem; font-weight: 500;">Ver estas ofertas <i class="bi bi-arrow-right"></i></p></a>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-lg-3 m-2">
            <div class="rounded-lg overflow-hidden" style="background-image: url('https://ik.imagekit.io/ehiyh7jvx/img/testimonial2-mobile.jpg?updatedAt=1690825152008');background-size: cover; background-position:center; ">
                <div class="container-fluid d-flex flex-column justify-content-center p-5">
                    
                    <h5 class="text-light">Empleo flexible o tiempo parcial</h5>
                </div>
                <div class="w-100 p-3" style="background-color:hwb(341 13% 42%);">
                    <a href="#!" class="text-center" style="text-decoration: none; "><p style="color:white; font-size: 1rem; font-weight: 500;">Ver estas ofertas <i class="bi bi-arrow-right"></i></p></a>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3 m-2">
            <div class="rounded-lg overflow-hidden" style="background-image: url('https://ik.imagekit.io/ehiyh7jvx/img/testimonial3-mobile.jpg?updatedAt=1690825521683');background-size: cover; background-position:center; ">
                <div class="container-fluid d-flex flex-column justify-content-center p-5">
                    
                    <h5 class="text-light">Empleo con contrato indefinido</h5>
                </div>
                <div class="w-100 p-3" style="background-color:hwb(341 13% 42%);">
                    <a href="#!" class="text-center" style="text-decoration: none; "><p style="color:white; font-size: 1rem; font-weight: 500;">Ver estas ofertas <i class="bi bi-arrow-right"></i></p></a>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3 m-2">
            <div class="rounded-lg overflow-hidden" style="background-image: url('https://ik.imagekit.io/ehiyh7jvx/img/testimonial4-mobile.jpg?updatedAt=1690825521771');background-size: cover; background-position:center; ">
                <div class="container-fluid d-flex flex-column justify-content-center p-5">
                    
                    <h5 class="text-light">Reincorporación al mercado laboral</h5>
                </div>
                <div class="w-100 p-3" style="background-color:hwb(341 13% 42%);">
                    <a href="#!" class="text-center" style="text-decoration: none; "><p style="color:white; font-size: 1rem; font-weight: 500;">Ver estas ofertas <i class="bi bi-arrow-right"></i></p></a>
                </div>
            </div>
        </div>

    </div>
</section>
