<section id="candidato" class="py-3 py-sm-5 d-flex justify-content-center">
    <div class="container-fluid row col-12 col-lg-10 d-flex justify-content-between">
        <div class="col-12 col-lg-8">
            <h5 style="color:hwb(341 13% 42%)">CANDIDATO/A</h5>
            <div class="row my-3">
                <div class="col-12 col-lg-6">
                    <i class="bi bi-journal-text" style="font-size: 3rem; color: hwb(341 13% 42%);"></i>
                    <h5>Te orientamos</h5>
                    <p>Estamos cerca de ti para ayudarte a cumplir tu objetivo profesional. Acude a tu oficina más cercana y déjate asesorar por nuestros consultores/as especializados. Asesoría laboral GRATUITA para trabajadores y candidatos.</p>
                    <a href="#!" class="" style="text-decoration: none;"><h6 style="color:hwb(341 13% 42%)">Saber más <i class="bi bi-arrow-right"></i></h6></a>
                </div>
                <div class="col-12 col-lg-6">
                    <i class="bi bi-mortarboard" style="font-size: 3rem; color: hwb(341 13% 42%);"></i>
                    <h5>Te formamos</h5>
                    <p>Te asesoramos y facilitamos el acceso a diferentes opciones de formación para que puedas desarrollarte personal y profesionalmente hacia tus objetivos laborales.</p>
                    <a href="#!" class="" style="text-decoration: none;"><h6 style="color:hwb(341 13% 42%)">Infórmate ahora <i class="bi bi-arrow-right"></i></h6></a>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12 col-lg-6">
                    <i class="bi bi-briefcase" style="font-size: 3rem; color: hwb(341 13% 42%);"></i>
                    <h5>Te escuchamos</h5>
                    <p>Sólo tú puedes ayudarnos a mejorar.  Queremos conocer cómo te sientes y poder ayudarte. Puedes contactarnos en cualquiera de nuestras oficinas o a través del siguiente link para que, de manera anónima, podáis trasladarnos sugerencias y mejoras.</p>
                    <a href="#!" class="" style="text-decoration: none;"><h6 style="color:hwb(341 13% 42%)">Contáctanos <i class="bi bi-arrow-right"></i></h6></a>
                </div>
                <div class="col-12 col-lg-6 " style="background-image: url('img/logo/logo_col_isotipo.png'); background-position: center; background-repeat: no-repeat; background-size: contain;">
                    <div class="d-flex flex-column text-center justify-content-center" style="background-color: rgba(255, 255, 255, 0.8);width:100%;height: 100%;">
                        <h3 class="m-2">+ de 50.000 personas</h3>
                        <p class="m-2">han encontrado trabajo gracias a Ananda en 2022.</p>
                        <a href="#!" class="m-2" style="text-decoration: none;"><h6 style="color:hwb(341 13% 42%)">Forma parte <i class="bi bi-arrow-right"></i></h6></a>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 d-none d-lg-block h100" style="background-image: url('https://ik.imagekit.io/ehiyh7jvx/img/Recurso%201-80.jpg?updatedAt=1690823112293');background-position: top right; background-repeat: no-repeat;background-size: cover;">
            
        </div>
    </div>

</section>