<section id="banner-presupuesto" class="d-flex flex-row justify-content-center my3" style="background-color:hwb(146 25.5% 51.7%);">
    <div class="d-flex flex-row justify-content-center my-5">
        <div class="d-flex flex-row justify-content-around col-12 col-lg-10">
            <div class="d-none d-lg-flex flex-column text-center col-4 justify-content-center" >
                <div class="d-flex align-items-center justify-content-center"><img class="" style="height:auto;max-height:80%;width:auto;max-width:80%;" src="https://ik.imagekit.io/ehiyh7jvx/img/clock-history-8.png?updatedAt=1691049902805" ></div>
            </div>
            <div class="d-flex flex-column text-light col-10 col-lg-4">
                <h6>¿necesitas trabajadores?</h6>
                <h1 class="display-2" style="line-height:4rem"><strong>solicita tu presupuesto</strong> online.</h1>
                <p>Solicita un presupuesto sin compromiso. Cubrimos el 93% de los contratos en 24 horas. Paga sólo por las horas trabajadas y por el tiempo que necesites al trabajador. Ahorra en costes derivados del absentismo laboral, vacaciones, matrimonios, indemnizaciones y permisos retribuidos; con todas las garantías laborales.</p>
                <div class="d-inline-flex"> <a href="public/presupuesto-01.html" class="btn btn-outline-light text-start">calcular presupuesto</a></div>
            </div>
        </div>
    </div>
  </section>