<section id="servicios" class="d-flex flex-column align-items-center">
    <div class="d-flex flex-row justify-content-center w-100 pt-5" style="color:var(--ananda-red);">
        <h4 class="col-12 col-md-10 col-lg-6 p-4 text-center">Selecciona el servicio que más se ajuste a tus necesidades:</h4>
    </div>
    <div class="col-12 col-md-10 d-flex flex-row justify-content-center p-4 pt-2">
    <div id="table">
        <div id="row" class="row" style="min-height:50vh">
            <div id="cell1" class="d-flex flex-column justify-content-between col-12 col-lg-4">
                                
                    <div class="d-flex flex-column flex-grow justify-content-between h-100 p-5 rounded-3 text-light text-center" style="background-color:var(--ananda-green);min-height:25vh">
                        <div class="d-flex flex-row justify-content-center px-3">
                            <!--
                                <div style="max-width:100px;" class="d-flex flex-column justify-content-center">
                                    <img class="img-fluid" src="https://ik.imagekit.io/ehiyh7jvx/img/ico/figura_1.png?updatedAt=1691079213397" style="vertical-align:bottom">
                                </div>
                            -->
                            <div class="p-2">
                            <h3 class="d-flex mb-3">SELECCIÓN</h3>
                            </div>
                        </div>
                        <p class="mb-4">Necesito contratar al profesional ideal para mi empresa.</p>
                        <a href="../public/presupuesto-formulario01.html" class="btn btn-outline-light">
                            Me interesa
                        </a>
                    
                </div>


                <div class="p-3 mt-5 text-start" style="min-height:25vh">                
                    <div class="d-flex flex-column justify-content-start h-100">
                        <div class="d-flex flex-row justify-content-start">
                            <div class="">
                            <h4 class="d-flex mb-3" style="color:var(--ananda-red);">SELECCIÓN Y EVALUACIÓN DEL TALENTO</h4>
                            </div>
                        </div>
                        <p class="mb-4">Necesito contratar al profesional ideal para mi empresa.</p>
                        <div>
                            <a href="#!" style="color:var(--ananda-red);text-decoration:none"><h6>Saber más <i class="bi bi-arrow-right"></i></h6></a>
                        </div>
                    </div>

        
                    
        
        
                </div>
            </div>
            <div id="cell2"  class="d-flex flex-column justify-content-between col-12 col-lg-4" >
                              
                    <div class="d-flex flex-column justify-content-between h-100 p-5 rounded-3 text-center" style="background-color:var(--ananda-salmon);color:var(--ananda-red);min-height:25vh">
                        <div class="d-flex flex-row justify-content-center px-3">
                            <!--
                                <div style="max-width:100px;" class="d-flex flex-column justify-content-center">
                                    <img class="img-fluid" src="https://ik.imagekit.io/ehiyh7jvx/img/ico/figura_1.png?updatedAt=1691079213397" style="vertical-align:bottom">
                                </div>
                            -->
                            <div class="p-2">
                            <h3 class="d-flex mb-3">TRABAJO TEMPORAL</h3>
                            </div>
                        </div>
                        <p class="mb-4">Necesito un trabajador temporal para mañana.</p>
                        <a href="#!" class="btn btn-outline-salmon">
                            Me interesa
                        </a>
                    </div>
                


                <div class="p-3 mt-5 text-start" style="min-height:25vh">                
                    <div class="d-flex flex-column justify-content-start h-100">
                        <div class="d-flex flex-row justify-content-start">
                            <div class="">
                            <h4 class="d-flex mb-3" style="color:var(--ananda-red);">TRABAJO TEMPORAL</h4>
                            </div>
                        </div>
                        <p class="mb-4">Nosotros seleccionamos, contratamos y ponemos a tu disposición el mejor talento cuando lo necesitas.</p>
                        <div >
                            <a href="#!" style="color:var(--ananda-red);text-decoration:none"><h6>Saber más <i class="bi bi-arrow-right"></i></h6></a>
                        </div>
                    </div>

        
                    
        
        
                </div>
            </div>
            <div id="cell3"  class="d-flex flex-column justify-content-between col-12 col-lg-4">
                               
                    <div class="d-flex flex-column justify-content-between h-100 p-5 rounded-3 text-light text-center" style="background-color:var(--ananda-blue);min-height:25vh">
                        <div class="d-flex flex-row justify-content-center px-3">
                            <!--
                                <div style="max-width:100px;" class="d-flex flex-column justify-content-center">
                                    <img class="img-fluid" src="https://ik.imagekit.io/ehiyh7jvx/img/ico/figura_1.png?updatedAt=1691079213397" style="vertical-align:bottom">
                                </div>
                            -->
                            <div class="p-2">
                            <h3 class="d-flex mb-3">OUTSOURCING</h3>
                            </div>
                        </div>
                        <p class="mb-4">Necesito externalizar los RRHH de mi empresa.</p>
                        <a href="#!" class="btn btn-outline-light">
                            Me interesa
                        </a>
                    
                </div>


                <div class="p-3 mt-5 text-start" style="min-height:25vh">                
                    <div class="d-flex flex-column justify-content-start h-100">
                        <div class="d-flex flex-row justify-content-start">
                            <div class="">
                            <h4 class="d-flex mb-3" style="color:var(--ananda-red);">OUTSOURCING</h4>
                            </div>
                        </div>
                        <p class="mb-4">Olvídate de problemas de RRHH, nosotros nos encargamos. Diseñamos la plantilla, buscamos a los mejores profesionales, les contratamos, formamos y gestionamos todos los trámites.</p>
                        <div >
                            <a href="#!" style="color:var(--ananda-red);text-decoration:none"><h6>Saber más <i class="bi bi-arrow-right"></i></h6></a>
                        </div>
                    </div>

        
                    
        
        
                </div>
            </div>
        </div>
    </div>
</div>






</section>