<p class="display-4" style="color:var(--ananda-red-b10);font-weight:700" >Todas las ofertas de Ananda a un clic</p>
<p class="fst-italic" style="font-weight:500">Accede a más de 2.000 ofertas de empleo y descargándote la app ahora.</p>
<div class="d-flex flex-column justify-content-between align-items-center py-4 col-8 gy-3">
    <a href="#"><img class="img-fluid my-3" src="https://ik.imagekit.io/ehiyh7jvx/img/ico/google-play-badge-300x89.png?updatedAt=1691504137467"/></a>
    <a href="#"><img class="img-fluid my-3" src="https://ik.imagekit.io/ehiyh7jvx/img/ico/download-on-the-app-store.png?updatedAt=1691504137453"/></a>
</div>
<p>Encuentra tu trabajo ideal cerca de tu casa.</p>
<p>Crea alertas para ser el primero en enterarte.</p>
<p>Sigue el estado de tus candidaturas.</p>
<p>Actualiza tu perfil y tu CV desde la app.</p>